/* Primary.css */
body{
  background-color: #eff7f6;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.container {
  border: 2px solid white;
  border-radius: 10px;
  width: 45%;
  height: 420px;
  padding: 20px;
  margin-top: 8%; 
  margin-left: 25%;
  background-color: #83c5be;
  cursor: pointer;
  box-shadow: 20px 20px 15px #005f73;
}

.counter-display {
  font-size: 3em;
  margin-bottom: 20px;
}

.button {
 
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 5em;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.button:hover {
  transform: scale(1.1);
  background-color: aliceblue;
  color: black;
}

.button:active {
  transform: scale(0.9);
}

.reset-button,
.increment-button,
.decrement-button,
.login-button

 {
  background-color: #22577a;
  color: white;
  font-size: 1em;
  font-weight: bold;
 
} 
.login-section {
  margin-top: 30px;
} 

.hidden-message {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.hidden-message.show {
  visibility: visible;
  opacity: 1;
}

.button {
  font-size: 1em;
  padding: 10px 30px;
  margin: 10px;
}

.login-section {
  margin-top: 20px;
}

.hidden-message {
  display: none;
}

.hidden-message.show {
  display: block;
}


